appdirs==1.4.3
attrs==18.2.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
future==0.17.1
idna==2.7
influxdb==5.2.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
oauthlib==2.1.0
python-dateutil==2.7.5
python-dotenv==0.9.1
pytz==2018.7
requests==2.20.1
six==1.11.0
toml==0.10.0
upstox==1.5.5
urllib3==1.24.1
websocket-client==0.54.0
Werkzeug==0.14.1
