ansimarkup==1.4.0
appdirs==1.4.3
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.7.0
better-exceptions-fork==0.2.1.post6
bleach==3.0.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.4.1
crayons==0.1.2
decorator==4.3.0
docutils==0.14
Flask==1.0.2
future==0.17.1
get==2018.11.19
idna==2.7
influxdb==5.2.0
ipython==7.2.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10
loguru==0.2.5
lxml==4.3.0
MarkupSafe==1.1.0
nsepy==0.7
numpy==1.15.4
oauthlib==2.1.0
pandas==0.23.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
pkginfo==1.4.2
post==2018.11.20
prompt-toolkit==2.0.7
ptyprocess==0.6.0
public==2018.11.20
Pygments==2.3.0
python-dateutil==2.7.5
python-dotenv==0.9.1
pytz==2018.7
query-string==2018.11.20
readme-renderer==24.0
request==2018.11.20
requests==2.20.1
requests-toolbelt==0.8.0
schedule==0.5.0
six==1.11.0
soupsieve==1.6.2
toml==0.10.0
tqdm==4.28.1
traitlets==4.3.2
twine==1.12.1
upstox==2.0.0
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
Werkzeug==0.14.1
